In [20]:
from src import Relmap, Column, Table, propagate
graph = Relmap()
graph.generate_random_seeds()
propagate(graph)

In [21]:
# 0. get the model

model = graph.get_all_tables(kind='model')[0]
model

jQiXYZQMoLgNPxmY

In [22]:
# get all columns
columns = graph.get_model_columns(model)
columns

[jQiXYZQMoLgNPxmY.HZAJxDEsItvGaaui,
 jQiXYZQMoLgNPxmY.FDZYrleQgdyfFKsh,
 jQiXYZQMoLgNPxmY.qAyeeTHvMfXqShuc,
 jQiXYZQMoLgNPxmY.DaFcCqovYHNkCoFw,
 jQiXYZQMoLgNPxmY.nYdOwerssqmDltNS]

In [23]:
column = columns[0]
column

jQiXYZQMoLgNPxmY.HZAJxDEsItvGaaui

In [24]:
transformation = graph.get_creating_transformation(column)
transformation

[<src.column_transformations.tr_Least object at 0x74b5d025aa20>]

In [25]:
args = graph.get_transformation_arguments(transformation=transformation)
args

[xeIzvPMNiwhdfovV.jMhKMaTDbPCfplVe, xeIzvPMNiwhdfovV.JWWjhGDTeVOftVoa]

In [26]:
(column, transformation, args )

(jQiXYZQMoLgNPxmY.HZAJxDEsItvGaaui,
 <src.column_transformations.tr_Least at 0x74b5d025aa20>,
 [xeIzvPMNiwhdfovV.jMhKMaTDbPCfplVe, xeIzvPMNiwhdfovV.JWWjhGDTeVOftVoa])

In [27]:
column.to_sqlglot_column()

Column(
  this=Identifier(this=HZAJxDEsItvGaaui),
  table=Identifier(this=jQiXYZQMoLgNPxmY))

In [28]:
from sqlglot import expressions as exp

In [29]:
rendered_tr = transformation.build_expr(
    #expressions=[arg.to_sqlglot_column() for arg in args]
    args = [arg.to_sqlglot_column() for arg in args]
)
rendered_tr

Least(
  expressions=[
    Column(
      this=Identifier(this=jMhKMaTDbPCfplVe),
      table=Identifier(this=xeIzvPMNiwhdfovV)),
    Column(
      this=Identifier(this=JWWjhGDTeVOftVoa),
      table=Identifier(this=xeIzvPMNiwhdfovV))])

In [30]:
rendered_tr.sql()

'LEAST(xeIzvPMNiwhdfovV.jMhKMaTDbPCfplVe, xeIzvPMNiwhdfovV.JWWjhGDTeVOftVoa)'

In [33]:
select_expr = exp.Select().select(
    rendered_tr.as_(column.name)
).from_(
    exp.Table(this=exp.Identifier(this=args[0].table.name))
)
select_expr

Select(
  expressions=[
    Alias(
      this=Least(
        expressions=[
          Column(
            this=Identifier(this=jMhKMaTDbPCfplVe),
            table=Identifier(this=xeIzvPMNiwhdfovV)),
          Column(
            this=Identifier(this=JWWjhGDTeVOftVoa),
            table=Identifier(this=xeIzvPMNiwhdfovV))]),
      alias=Identifier(this=HZAJxDEsItvGaaui, quoted=False))],
  from=From(
    this=Table(
      this=Identifier(this=xeIzvPMNiwhdfovV))))

In [34]:
select_expr.sql()

'SELECT LEAST(xeIzvPMNiwhdfovV.jMhKMaTDbPCfplVe, xeIzvPMNiwhdfovV.JWWjhGDTeVOftVoa) AS HZAJxDEsItvGaaui FROM xeIzvPMNiwhdfovV'